@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul class="nav nav-tabs nav-justified">
    <div id="logo">
        <a href="https://braunintertec.com/"; >
            <img src="/Content/Images/logo.png">
            <h2>Service Desk Admin Portal</h2>
        </a>

    </div>
    <div class="stick-right">
        <div class="user">Logged in as @User.Identity.Name</div>
    </div>
    <li class="active">
        <a data-toggle="tab" href="#HomeTab">Home</a>
    </li>
  @*  <li><a data-toggle="tab" href="#HistoryTab">History</a></li>*@
</ul>

<div class="d-flex all-center custom-height">
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-phone"></i>
            <span>Update Contact</span>
        </a>
    </div>
    @*<div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-address-book"></i>
            <span>Address Book</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-user-circle"></i>
            <span>View User List</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-area-chart"></i>
            <span>View Stats</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-ban"></i>
            <span>Blocked Contacts</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-book"></i>
            <span>View Log</span>
        </a>
    </div>
    <div class="m-2 last">
        <span style="color:red"> @ViewBag.Autherize </span>
    </div>*@

</div>

