@model SDAdminTool.Models.Employees
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string employeeId = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul class="nav nav-tabs nav-justified">
    <div id="logo">
        <a href="https://braunintertec.com/" ;>
            <img src="/Content/Images/logo.png">
            <h2>Service Desk Admin Portal</h2>
        </a>
        
    </div>
    <div class="stick-right">
        <div class="user">Logged in as @User.Identity.Name</div>
    </div>
    <li class="active">
        <a data-toggle="tab" href="#HomeTab">Home</a>
    </li>
    @*  <li><a data-toggle="tab" href="#HistoryTab">History</a></li>*@
</ul>

<div class="text-center">
    <div class="d-ib m-2">
        <label for="ddl" style="margin-right:1rem;">Name</label>
        @Html.DropDownListFor(x => x.CurrentEmployee.EmployeeId, new SelectList(Model.LstEmployee, "EmployeeId", "Name"), new
        {
            id = "ddl",
            @class = "selectpicker",
            data_show_subtext = "true",
            data_live_search = "true",
            onchange = "updateMobileNumber(this.value);"
        })
        <div class="error" id="errorddl"></div>
    </div>
    <div>
        <input id="Hidden1" type="hidden" runat="server" />
    </div>
    <div class="d-ib m-2" id="updateContact">
        <button class="call2action" onclick="getEmployeeDetails()">
            <i class="fa fa-phone"></i>
            <span>Update Contact</span>
        </button>
    </div>
</div>

@*
<div class="d-flex all-center custom-height">
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-address-book"></i>
            <span>Address Book</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-user-circle"></i>
            <span>View User List</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-area-chart"></i>
            <span>View Stats</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-ban"></i>
            <span>Blocked Contacts</span>
        </a>
    </div>
    <div class="m-2">
        <a class="call2action" href="@Url.Action("GetEmployeeDetails")">
            <i class="fa fa-book"></i>
            <span>View Log</span>
        </a>
    </div>
</div>
*@

<script language="javascript">
    var employeeId = '';
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
        setTimeout(() => {
            $('#message').fadeOut();
        }, 5000);
    });
    function updateMobileNumber(val) {
        var model = @Html.Raw(Json.Encode(Model.LstEmployee));
        var currentuser = null;
        if (val === null || val === '' || val === undefined) {
            employeeId = '';
            $("#txtMobile").val('');
            $("#txtDesk").val('');
            $("#txtMobile").prop('disabled',true);
            $("#txtDesk").prop('disabled',true);
            //$("#txtEmployeeId").val(currentuser.EmployeeId);
            $('label[id*="message"]').text('');
        } else {
            $.each(model, function (index, value) {
                if (value.EmployeeId === val) {
                    currentuser = value;
                }
            });
            $('#errorddl').html('');
            employeeId = currentuser.EmployeeId; 
            $("#txtMobile").val(currentuser.WorkPhoneMobile);
            $("#txtDesk").val(currentuser.WorkPhoneDesk);
            $("#txtMobile").prop('disabled',false);
            $("#txtDesk").prop('disabled',false);
            //$("#txtEmployeeId").val(currentuser.EmployeeId);
            $('label[id*="message"]').text('');
        }
    }
    function getEmployeeDetails(){
        if(employeeId){
            window.location = 'Home/GetEmployeeDetails?employeeId=' + employeeId;
        } else{
            $('#errorddl').html('Please Select an employee');
        }
    }
    $("#phoneForm").removeAttr('novalidate').validate({
        rules:{
            'CurrentEmployee.WorkPhoneMobile':{
                required:function(){
                    return $('#txtDesk').val() == '';
                },
                phoneformat: true
            },
            'CurrentEmployee.WorkPhoneDesk':{
                required:function(){
                    return $('#txtMobile').val() == '';
                },
                phoneformat: true
            }
        },
        messages:{
            'CurrentEmployee.WorkPhoneMobile':{
                required: 'Please enter Work phone number'
            },
            'CurrentEmployee.WorkPhoneDesk':{
                required: 'Please enter Work Desk phone number'
            }
        }
    });
    jQuery.validator.addMethod("phoneformat", function(value, element, params) {
        return value == '' || /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(value);
    }, jQuery.validator.format("Please enter phone number in (###)-###-#### format."));
</script>

